<div id="ConditionTypesListId">
  <div class="row">
    <div class="col-sm-12">
      <div class="content-header ivf-content-header"></div>
    </div>
  </div>
  <!--DATA-TABLE-->
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="card-block">
            <ngx-datatable id="ConditionTypesList" class="bootstrap" [rows]="itemList"
              [columnMode]="'force'"
               [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
              [limit]="searchingObject.size" [externalPaging]="true" [count]="dataTableCount"
              [offset]="searchingObject.page" (page)='setPage($event)'>

              <!-- Row Panel Template -->
              <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow>
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                  <div>
                    TEST TEST
                  </div>
                </ng-template>
              </ngx-datatable-row-detail>

              <ngx-datatable-column name="Scenario">
                <ng-template let-column="column" ngx-datatable-header-template>
                  
                <input type="text" class="managetextfilter" placeholder="{{'scenario' | transloco}}" (keyup)="updateFilter($event,'scTypeid')"/> 
               </ng-template>
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  {{ row.scTypeid}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="description">
                <ng-template let-column="column" ngx-datatable-header-template>
                  
                <input type="text" class="managetextfilter" placeholder="{{'description' | transloco}}" (keyup)="updateFilter($event,'scTypedescr')"/> 
               </ng-template>
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  {{ row.scTypedescr}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Condition Type">
                <ng-template let-column="column" ngx-datatable-header-template>
        
                <input type="text" class="managetextfilter" placeholder="{{'condition_type' | transloco}}" (keyup)="updateFilter($event,'conditionType')"/> 
               </ng-template>
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  {{ row.conditionType }}
                </ng-template>
              </ngx-datatable-column>


              <ngx-datatable-column [flexGrow]="1.5" name="On onInvoice" prop="onInvoice">
                <ng-template let-column="column" ngx-datatable-header-template>
                  
                <input type="text" class="managetextfilter" placeholder="{{'onInvoice' | transloco}}" (keyup)="updateFilter($event,'onInvoice')"/> 
               </ng-template>
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  <mat-form-field style="width: 100%;">
                    <mat-select single [disabled]="!isEditable[rowIndex]" [(ngModel)]="row.onInvoice" name="onInvoice">
                      <mat-option *ngFor="let elem of onInvoiceData" [value]="elem.value">
                        {{elem.label}} </mat-option>
                    </mat-select>
                  </mat-form-field>
                </ng-template>
              </ngx-datatable-column>


              <ngx-datatable-column name="Action">
                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <!-- Pencil icon -->
                  <i class="fa fa-pencil" title="Modify" *ngIf="!this.isEditable[rowIndex]"
                    (click)="this.isEditable[rowIndex]=!this.isEditable[rowIndex]"></i>

                  <!-- Save/Delete icons -->
                  <i class="fa fa-floppy-o" *ngIf="this.isEditable[rowIndex]" title="Save"
                    (click)="save(row, rowIndex);"></i>
                  <i class="fa fa-close" *ngIf="this.isEditable[rowIndex]" title="Delete"
                    (click)="delete(row,rowIndex)"></i>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
