<div id="ItemsId">
  <div class="row">
    <div class="col-sm-12">
      <div class="content-header ivf-content-header"></div>
    </div>
  </div>

  <!--DATA-TABLE-->
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">

          <!--ADD BUTTON-->
          <div class="card-block">
            <button (click)="addNewRow()" class="btn btn-raised btn-success mr-1 shadow-z-2"
              [(disabled)]="!isUpdateMode">
              <i class="ft-plus mr-2"> Add</i>
            </button>
          </div>

          <div class="card-block">
            <ngx-datatable class="bootstrap" [rows]="itemList" [columnMode]="'force'" [headerHeight]="50"
              [footerHeight]="50" [rowHeight]="'auto'" [limit]="searchingObject.size" [externalPaging]="true"
              [count]="dataTableCount" [offset]="searchingObject.page" (page)="setPage($event)">

              <!-- Row Panel Template -->
              <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow>
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                  <div>TEST TEST</div>
                </ng-template>
              </ngx-datatable-row-detail>

              <ngx-datatable-column name="customerno">
                <ng-template let-column="column" ngx-datatable-header-template>
                  <input type="text" class="managetextfilter" placeholder="{{ 'customerno' | transloco }}"
                    (keyup)="updateFilter($event, 'customerno')" />
                </ng-template>

                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  <mat-form-field>
                    <input matInput value="customerno" [(ngModel)]="row.customerno"
                      [disabled]="!isEditable[rowIndex] || !isAddMode[rowIndex]" required />

                    <mat-error class="form-text text-muted danger">This field is required</mat-error>
                  </mat-form-field>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="customernamee">
                <ng-template let-column="column" ngx-datatable-header-template>
                  <input type="text" class="managetextfilter" placeholder="{{ 'customernamee' | transloco }}"
                    (keyup)="updateFilter($event, 'customernamee')" />
                </ng-template>
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  <mat-form-field>
                    <input matInput value="customernamee" [(ngModel)]="row.customernamee"
                      [disabled]="!isEditable[rowIndex]" required />

                    <mat-error class="form-text text-muted danger">This field is required</mat-error>
                  </mat-form-field>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="customernamea">
                <ng-template let-column="column" ngx-datatable-header-template>
                  <input type="text" class="managetextfilter" placeholder="{{ 'customernamea' | transloco }}"
                    (keyup)="updateFilter($event, 'customernamea')" />
                </ng-template>
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  <mat-form-field>
                    <input matInput value="customernamea" [(ngModel)]="row.customernamea"
                      [disabled]="!isEditable[rowIndex]" required />

                    <mat-error class="form-text text-muted danger">This field is required</mat-error>
                  </mat-form-field>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Action">
                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <div class="btn-group mr-2">

                    <!-- Pencil icon -->
                    <button md-icon-button class="fa fa-pencil datatable-btn" title="Modify"
                      *ngIf="!this.isEditable[rowIndex]"
                      (click)="this.isEditable[rowIndex] = !this.isEditable[rowIndex]"></button>
                  </div>

                  <div class="btn-group mr-2">
                    <button md-icon-button class="btn btn-danger btn-fab" title="Delete"
                      *ngIf="!this.isEditable[rowIndex]" (click)="deleteItem(row.customerno); this.isUpdateMode = true">
                      <i class="fa fa-trash datatable-btn"></i>
                    </button>
                  </div>

                  <!-- Save/Delete icons -->
                  <div class="btn-group mr-2">
                    <button md-icon-button title="Save" class="fa fa-floppy-o datatable-btn"
                      *ngIf="this.isEditable[rowIndex]" (click)="save(row, rowIndex)">
                      <!-- <i class="fa fa-floppy-o"></i> -->
                    </button>

                    <button md-icon-button class="fa fa-close datatable-btn" title="Delete"
                      *ngIf="this.isEditable[rowIndex]" (click)="delete(row, rowIndex)"></button>
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>