<!--Error page starts-->
<section id="error">
  <div class="container-fluid bg-lighten-3">
    <div class="container">
      <div class="row full-height-vh">
        <div class="col-md-12 col-lg-3 ml-auto d-flex align-items-center">
          <div class="row text-center mb-3">
            <div class="col-12">
            </div>
            <div class="col-12">
              <h4 class="grey darken-2 font-large-5">Opps...</h4>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-8 d-flex align-items-center justify-content-center">
          <div class="error-container">
            <div class="no-border">
              <div class="text-center text-bold-700 grey darken-2 mt-5" style="font-size: 11rem; margin-bottom: 4rem;">403</div>
            </div>
            <div class="error-body">
            </div>
            <div class="error-footer bg-transparent">
              <div class="row">
                <h4 class="text-muted text-center col-12 py-1 danger">You don't have access.</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Error page ends-->
