<div id="ItemsId">
  <div class="row">
    <div class="col-sm-12">
      <div class="content-header ivf-content-header">
      </div>
    </div>
  </div>

  <!--DATA-TABLE-->
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="card-block">
            <ngx-datatable class="bootstrap" [rows]="itemList" [columnMode]="'force'" [headerHeight]="50"
              [footerHeight]="50" [rowHeight]="'auto'" [limit]="searchingObject.size" [externalPaging]="true"
              [count]="dataTableCount" [offset]="searchingObject.page" (page)="setPage($event)">
              <!-- Row Panel Template -->
              <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow>
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                  <div>
                    TEST TEST
                  </div>
                </ng-template>
              </ngx-datatable-row-detail>

              <ngx-datatable-column name="transno">
                <ng-template let-column="column" ngx-datatable-header-template>
                  <input type="text" class="managetextfilter" placeholder="{{ 'transno' | transloco }}"
                    (keyup)="updateFilter($event, 'transno')" />
                </ng-template>

                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  {{ row.transno }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="postdate" [width]="185">
                <ng-template let-column="column" ngx-datatable-header-template>
                  <input type="date" class="managetextfilter" placeholder="postdate | date: 'yyyy-MM-dd'"
                    name="postdate" (keyup)="updateFilter($event, 'postdate')" />
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="accountc">
                <ng-template let-column="column" ngx-datatable-header-template>
                  <input type="text" class="managetextfilter" placeholder="{{ 'accountc' | transloco }}"
                    (keyup)="updateFilter($event, 'accountc')" />
                </ng-template>

                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  {{ row.accountc }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="accountd">
                <ng-template let-column="column" ngx-datatable-header-template>
                  <input type="text" class="managetextfilter" placeholder="{{ 'accountd' | transloco }}"
                    (keyup)="updateFilter($event, 'accountd')" />
                </ng-template>

                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  {{ row.accountd }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="transdesccode">
                <ng-template let-column="column" ngx-datatable-header-template>
                  <input type="text" class="managetextfilter" placeholder="{{ 'transdesccode' | transloco }}"
                    (keyup)="updateFilter($event, 'transdesccode')" />
                </ng-template>

                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  {{ row.transdesccode }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Action">
                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <!-- View icon -->
                  <i class="btn btn-primary btn-fab" title="View" (click)="navigateToStkTransDetails(row)"></i>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>