.wrapper {
  position: relative;
  top: 0;
  // height: 92vh !important;
  //height: 98% !important;
}

.navbar-cont {
  height: auto !important;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0 2rem;
}
