  <div id="ClaimsListId">
    <div class="row">
      <div class="col-sm-12 ">
        <h3 class="txt-tit">{{'distributores' | transloco }}</h3>
        <div class="content-header ivf-content-header"></div>
      </div>
    </div>





    <div class="form-group">
      <div class="col-md-12 text-right">
        <button type="button" style="float: left;" (click)="getAllDistributors()"
          class="btn btn-raised btn-info mr-1 shadow-z-2">
          {{'show_dist' | transloco}}
        </button>

        <!-- <button type="button" style="float: left;" (click)="updateSelectedCummdist()"
      class="btn btn-raised btn-info mr-1 shadow-z-2">
       save selected
    </button> -->
      </div>
    </div>
    <!--DATA-TABLE-->
    <!--DATA-TABLE-->
    <div class="row">
      <div class="col-sm-12 section-dist">
        <div class="card">
          <div class="card-body">
            <div class="card-block">
              <ngx-datatable #table id="claimsId" class="bootstrap" [rows]="itemList" [columnMode]="'force'"
                 [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                [limit]="searchingObject.size" [externalPaging]="true" [count]="dataTableCount"
                [offset]="searchingObject.page" (page)='setPage($event)' [selected]="selectedList"
                [selectionType]="'checkbox'" (select)='onSelect($event)'>

                <!-- Row Panel Template -->
                <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow>
                  <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                    <div>
                      TEST TEST
                    </div>
                  </ng-template>
                </ngx-datatable-row-detail>

                <ngx-datatable-column name="branchno">
                  <ng-template let-column="column" ngx-datatable-header-template>

                    <input type="text" class="managetextfilter" placeholder="{{'branch' | transloco}}"
                      (keyup)="updateFilter($event,'branchno')" />
                  </ng-template>

                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    {{ row.branchno}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="branchnamee">
                  <ng-template let-column="column" ngx-datatable-header-template>

                    <input type="text" class="managetextfilter" placeholder="{{'dist_name' | transloco}}"
                      (keyup)="updateFilter($event,'branchnamee')" />
                  </ng-template>
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    {{ row.branchnamee}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="sapCode">
                  <ng-template let-column="column" ngx-datatable-header-template>

                    <input type="text" class="managetextfilter" placeholder="{{'sap_code' | transloco}}"
                      (keyup)="updateFilter($event,'sapCode')" />
                  </ng-template>
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    {{ row.sapCode}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="region">
                  <ng-template let-column="column" ngx-datatable-header-template>

                    <input type="text" class="managetextfilter" placeholder="{{'region' | transloco}}"
                      (keyup)="updateFilter($event,'region')" />
                  </ng-template>
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    {{ row.region}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="type">
                  <ng-template let-column="column" ngx-datatable-header-template>

                    <input type="text" class="managetextfilter" placeholder="{{'type' | transloco}}"
                      (keyup)="updateFilter($event,'type')" />
                  </ng-template>
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    {{ row.type}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [width]="30">
                  <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                    let-selectFn="selectFn">
                    <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)">
                  </ng-template>
                  <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-isSelected="isSelected"
                    let-onCheckboxChangeFn="onCheckboxChangeFn">
                    <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)">
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>



    <h3 class="txt-tit">Claims </h3>
    <div class="col-12 ">
      <div class="form-group">
        <div class="input-group">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" [formControl]="period">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <!-- <p-calendar name="period" id="period" required [(ngModel)]="period" 
            #periodM="ngModel">
            </p-calendar> -->
        </div>
        <div class="input-group">
          <mat-radio-group aria-label="Select Claims Type" [(ngModel)]="claimType">
            <div class="checkbox">
              <label id="auto_id">Auto Claims</label>
              <mat-radio-button value="A">WS,Cash,Promotion Discount</mat-radio-button>
            </div>
            <div class="checkbox">
              <label id="manual_id">Manual Claims</label>
              <mat-radio-button value="M">Other Discounts</mat-radio-button>
            </div>
          </mat-radio-group>
        </div>
      </div>
    </div>


    <div class="form-group">
      <div class="col-md-12 text-right section-clam ">
        <!-- <button type="button" style="float: left;" (click)="getAllDistributors()"
      class="btn btn-raised btn-info mr-1 shadow-z-2">
      SHow distributers
    </button> -->
        <button type="button" (click)="generateAutoClaims()" class="btn btn-raised btn-info mr-1 shadow-z-2"
          [disabled]="branchsList.length===0">
          {{'generate_data' | transloco}}
        </button>

        <button type="button" (click)="checkAutoClaims()" [disabled]="!checkBtnFlag ||  claimsRows.length===0"
          class="btn btn-raised btn-info mr-1 shadow-z-2">
          {{'check' | transloco}}
        </button>


        <button type="button" (click)="exportList()" class="btn btn-raised btn-info mr-1 shadow-z-2">
          <i class="ft-download"></i>  {{'execute_report' | transloco}}
        </button>

        <button type="button" (click)="confirmAutoClaims()" class="btn btn-raised btn-info mr-1 shadow-z-2"
          [disabled]="!confirmBtnFlag">
          {{'confirm' | transloco}}
        </button>

        <button type="button" (click)="loadAutoClaims()" class="btn btn-raised btn-info mr-1 shadow-z-2"
          [disabled]="!loadBtnFlag">
          {{'Charge_to_ECC' | transloco}}
        </button>



      </div>
    </div>


    <ngx-datatable #table class='material striped' [columnMode]="'force'"   [headerHeight]="50" [footerHeight]="50"
      [rowHeight]="'auto'" [limit]="5" [rows]='claimsRows'>

      <!-- Row Panel Template -->
      <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow>
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <div>
            TEST TEST
          </div>
        </ng-template>
      </ngx-datatable-row-detail>


      <ngx-datatable-column [flexGrow]="1.5" name="conditiontype" prop="conditiontype">

        <ng-template let-column="column" ngx-datatable-header-template>
          <input type="text" class="managetextfilter" placeholder="{{'condition_type' | transloco}}"
            (keyup)="updateCliamFilter($event,'conditiontype')" />
        </ng-template>

        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <mat-form-field>
            <input matInput value="conditiontype" [(ngModel)]="row.conditiontype" [disabled]="true">
          </mat-form-field>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [flexGrow]="1.5" name="itemno" prop="itemno">

        <ng-template let-column="column" ngx-datatable-header-template>

          <input type="text" class="managetextfilter" placeholder="{{'article' | transloco}}"
            (keyup)="updateCliamFilter($event,'itemno')" />
        </ng-template>

        <ng-template [style.background]="red" ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <mat-form-field>
            <input matInput value="itemno" [(ngModel)]="row.itemno" [disabled]="true">
          </mat-form-field>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [flexGrow]="1.5" name="discounttype" prop="discounttype">

        <ng-template let-column="column" ngx-datatable-header-template>
          <input type="text" class="managetextfilter" placeholder="{{'discount_type' | transloco}}"
            (keyup)="updateCliamFilter($event,'discounttype')" />
        </ng-template>

        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <mat-form-field>
            <input matInput value="discounttype" [(ngModel)]="row.discounttype" [disabled]="true">
          </mat-form-field>
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column [flexGrow]="1.5" name="distno" prop="distno">

        <ng-template let-column="column" ngx-datatable-header-template>

          <input type="text" class="managetextfilter" placeholder="{{'branch' | transloco}}"
            (keyup)="updateCliamFilter($event,'distno')" />
        </ng-template>

        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <mat-form-field>
            <input matInput value="distno" [(ngModel)]="row.distno" [disabled]="true">
          </mat-form-field>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [flexGrow]="1.5" name="internalOrder" prop="internalOrder">

        <ng-template let-column="column" ngx-datatable-header-template>

          <input type="text" class="managetextfilter" placeholder="{{'internal_order' | transloco}}"
            (keyup)="updateCliamFilter($event,'internalOrder')" />
        </ng-template>

        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <mat-form-field>
            <input matInput value="internalOrder" [(ngModel)]="row.internalOrder" [disabled]="true">
          </mat-form-field>
        </ng-template>
      </ngx-datatable-column>



      <ngx-datatable-column [flexGrow]="1.5" name="discount" prop="discount">

        <ng-template let-column="column" ngx-datatable-header-template>

          <input type="text" class="managetextfilter" placeholder="{{'discount' | transloco}}"
            (keyup)="updateCliamFilter($event,'discount')" />
        </ng-template>

        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <mat-form-field>
            <input matInput value="discount" [(ngModel)]="row.discount" [disabled]="!isEditable[rowIndex]">
          </mat-form-field>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column  [flexGrow]="1.5" name="Check Result" prop="Check Result">

        <ng-template let-column="column" ngx-datatable-header-template >

          <input type="text" class="managetextfilter"   placeholder={{column.name}}
            (keyup)="updateCliamFilter($event,'checkVal')" />
        </ng-template>

        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <mat-form-field>
            <input matInput value="discount" [ngClass]="row.checkVal === 'false' ? 'red-class' : ' '" [(ngModel)]="row.checkVal" [disabled]="true">
          </mat-form-field>
        </ng-template>
      </ngx-datatable-column>


      <!-- Column: Editing Mode-->
      <ngx-datatable-column [flexGrow]="0.5">
        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <!-- Pencil icon -->
          <i class="fa fa-pencil" title="Modify" *ngIf="!this.isEditable[rowIndex]"
            (click)="this.isEditable[rowIndex]=!this.isEditable[rowIndex]"></i>

          <!-- Save/Delete icons -->
          <i class="fa fa-floppy-o" *ngIf="this.isEditable[rowIndex]" title="Save" (click)="save(row, rowIndex);"></i>
          <i class="fa fa-close" *ngIf="this.isEditable[rowIndex]" title="Delete" (click)="delete(row,rowIndex)"></i>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
    <button type="button" (click)="calcTotalClaimsClickBtn()" 
     [disabled]="!checkBtnFlag"
    class="btn btn-raised btn-info mr-1 shadow-z-2">
    {{'calc_total'|transloco}}
    </button>
    <div class="calc-total-cont">
      <div class="total-calc">
        <div class="total-cont">
          <label>Cash Discount</label>
          <span class="total-val">{{cashDiscount}}</span>
        </div>
        <div class="total-cont">
          <label>Coupons Discount</label>
          <span class="total-val">{{couponsDiscount}}</span>
        </div>
        <div class="total-cont">
          <label>WH Discount</label>
          <span class="total-val">{{WHDiscount}}</span>
        </div>
        <div class="total-cont">
          <label>Other Discount</label>
          <span class="total-val">{{otherDiscount}}</span>
        </div>
      </div>
      <div class="total-cont">
        <label>Total Claims Amount</label>
        <span class="total-val">{{totalClaims}}</span>
      </div>
    </div>
  <!-- </ng-container> -->